.toolbar {
    --background: linear-gradient(97deg, rgba(56,170,255,1) 19%, rgba(54,129,255,1) 86%);
}

.toolbar-button {
    color: white;
}

.toolbar-title {
    font-family: 'Lato-Regular';
    color: white;
}

.selections img{
    width: 100px;
    display: block;
    margin: 10px auto;
}

.selections {
    --background : #f2f2f2;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px
}

ion-card-title {
    --color : black;
    text-align: center;
    font-family: 'Montserrat-Regular';
    font-size: 12px;
}