.toolbar {
    --background: linear-gradient(97deg, rgba(56,170,255,1) 19%, rgba(54,129,255,1) 86%);
}

.toolbar-title {
    font-family: 'Lato-Regular';
    color: white;
}

.header-text {
    margin: 20px;
    font-family: 'Montserrat-Regular';
    font-size: 30px;
    text-align: left;
    font-weight: 300;
}

.greet-user {
    margin: 20px;
    font-family: 'Lato-Regular';
    font-size: 15px;
    text-align: left;
}

.item {
    font-family: 'Montserrat', sans-serif;
}

.ion-text-wrap {
    font-family: 'Montserrat-Regular';
    font-size: 20px;
}

.searchbar {
    --placeholder-font-style: 'Lato-Regular';
}

.loader {
    position: relative;
    float: left;
    margin-top: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-patient-available{
    position: relative;
    float: left;
    margin-top: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #989a9c;
    font-family: "NotoSans-Regular";
}