@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

.toolbar {
    --background: linear-gradient(97deg, rgba(56,170,255,1) 19%, rgba(54,129,255,1) 86%);
    // --background: #46c4d6;
}

.toolbar-title {
    font-family: 'Lato', sans-serif;
    color: white;
}

.header-text {
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: left;
    font-weight: 300;
}

.greet-user {
    margin: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-align: left;
}

.item {
    font-family: 'Montserrat', sans-serif;
}

.ion-text-wrap {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.searchbar {
    --placeholder-font-style: 'Lato', sans-serif;
}

// .header {
//     height: 40%;
// }

// .container {
//     height: 55%;
// }

.loader {
    position: relative;
    float: left;
    margin-top: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-patient-available{
    position: relative;
    float: left;
    margin-top: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #989a9c;
    font-family: "Noto Sans", sans-serif;
}