<ion-content>
  <div class="header">
    <div class="header-text">MY PATIENTS</div>

    <div class="greet-user" *ngIf="clinician">
      Hi {{ clinician.last_name }}, here is the current list of your patients.
    </div>

    <ion-searchbar class="searchbar" [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)" [disabled]="( chooseInstructorMode || chooseInstructorCompletionMode )"></ion-searchbar>
    <ion-item-divider></ion-item-divider>
  </div>

  <!-- Loader -->
  <div class="loader" *ngIf="loader">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div class="no-patient-available" *ngIf="(!loader && empty)">
    NO PATIENTS WERE ADDED
  </div>

  <div>
  <!-- My Patients -->
  <ion-list *ngIf="( !loader && !requestMode && !chooseInstructorMode && !chooseInstructorCompletionMode)">
    <ion-item-sliding button *ngFor="let item of (results | async)">
      <ion-item>
      
      <!-- Female Avatar -->
      <ion-avatar *ngIf="item.patient.gender == 'Female'" slot="start">
        <img src='/assets/img/girl.png'>
      </ion-avatar>

      <!-- Male Avatar -->
      <ion-avatar *ngIf="item.patient.gender == 'Male'" slot="start">
          <img src='/assets/img/boy.png'>
      </ion-avatar>

      <ion-label class="ion-text-wrap">
          <h3>Control Number : {{ item.id }}</h3>
          <h3>{{ item.patient.first_name }} {{ item.patient.last_name }}</h3>
          <h3>{{ item.patient.phone_num }}</h3>
      </ion-label>

      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="secondary" *ngIf="item.is_approved_instructor" (click)="intitiateCDAR(item)"><ion-icon style="width:30px; height:30px;" name="add-circle-outline"></ion-icon></ion-item-option>
        <ion-item-option color="secondary" *ngIf="(!item.pending_for_approval && !item.is_approved_instructor)" (click)="showConsentCompletionForm(item)"><ion-icon style="width:30px; height:30px;" name="done-all"></ion-icon></ion-item-option>
        <ion-item-option color="secondary" *ngIf="(item.pending_for_approval && !item.is_approved_instructor)" >Pending</ion-item-option>
        <ion-item-option color="primary" [routerLink]="['/', 'members', 'selection', item.id]"><ion-icon style="width:30px; height:30px;" name="arrow-dropright"></ion-icon></ion-item-option>
      </ion-item-options>
      
    </ion-item-sliding>
  </ion-list>

  <!-- CDAR FORM -->
  <ion-list *ngIf="(!loader && requestMode && !chooseInstructorMode && !chooseInstructorCompletionMode)">
    <ion-card>
      <ion-card-title>Request CDAR Form</ion-card-title>
      <ion-item>
        <ion-label>Date:</ion-label>
        <ion-datetime [(ngModel)]="date" displayFormat="MM/DD/YYYY" placeholder="MM/DD/YYYY"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="stacking">Procedure:</ion-label>
        <ion-textarea [(ngModel)]="procedure" rows="2" placeholder="Enter procedure here..."></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Clinician:</ion-label>
        <ion-input [(ngModel)]="clinicianLastName" [readonly]="true"></ion-input>
      </ion-item>

      <ion-item *ngIf="!instructorLastName">
        <ion-label>Instructor:</ion-label>
        <ion-button size="small" fill="outline" (click)="initiateChooseInstructor()">Choose Instructor</ion-button>
      </ion-item>

      <ion-item *ngIf="instructorLastName">
        <ion-label>Instructor:</ion-label>
        <ion-input [(ngModel)]="instructorLastName" readonly></ion-input>
        <ion-button size="small" fill="outline" (click)="initiateChooseInstructor()">Change</ion-button>
      </ion-item>

      <div class="consent-form">
        <ion-checkbox [checked]='consentForm' disabled='disabled' style="float: left;"></ion-checkbox> By tapping "Request" patient must read and agree with the <a (click)="showConsentForm()">consent form</a>
      </div>

    <div style="text-align: center; margin: 10px;">
      <ion-button color="primary" (click)="showConfirmationMessage()">Request</ion-button>
      <ion-button color="danger" (click)="cancelCDAR()">Cancel</ion-button>
    </div>
    </ion-card>
  </ion-list>

  <!-- Select Instructor (CDAR) -->
  <ion-card *ngIf = "(!loader && !requestMode && chooseInstructorMode && !chooseInstructorCompletionMode)">
    <ion-card-title>Choose Instructor</ion-card-title>
    <ion-item-divider>
      <ion-icon slot="start" name="arrow-back" (click)="cancelChooseInstructor()"></ion-icon><ion-searchbar class="searchbar" [(ngModel)]="searchInstructorTerm" (ionChange)="searchInstructor($event)" placeholder="Search Instructor" animated></ion-searchbar>
    </ion-item-divider>

    <ion-list>
      <ion-item class="item" button *ngFor="let item of (instructors | async)" (click)="showChooseInstructorMessage(item)">

        <ion-avatar slot="start">
            <img src='/assets/register-clinician-instructor.png'>
        </ion-avatar>

        <ion-label class="ion-text-wrap">
            <h3>{{ item.first_name }} {{ item.last_name }}</h3>
        </ion-label>

      </ion-item>
    </ion-list>
  </ion-card>

  <!-- Select Instructor (Completion) -->
  <ion-card *ngIf = "(!loader && !requestMode && !chooseInstructorMode && chooseInstructorCompletionMode)">
    <ion-card-title>Choose Instructor</ion-card-title>
    <ion-item-divider>
      <ion-icon slot="start" name="arrow-back" (click)="cancelChooseInstructorCompletion()"></ion-icon><ion-searchbar class="searchbar" [(ngModel)]="searchInstructorTerm" (ionChange)="searchInstructor($event)" placeholder="Search Instructor" animated></ion-searchbar>
    </ion-item-divider>

    <ion-list>
      <ion-item class="item" button *ngFor="let item of (instructors | async)" (click)="showChooseInstructorCompletionMessage(item)">

        <ion-avatar slot="start">
            <img src='/assets/register-clinician-instructor.png'>
        </ion-avatar>

        <ion-label class="ion-text-wrap">
            <h3>{{ item.first_name }} {{ item.last_name }}</h3>
        </ion-label>

      </ion-item>
    </ion-list>
  </ion-card>
  </div>
</ion-content>