.header-text {
    margin: 20px;
    font-family: 'Montserrat-Regular';
    font-size: 30px;
    text-align: left;
    font-weight: 300;
}

.greet-user {
    margin: 20px;
    font-family: 'Lato-Regular';
    font-size: 15px;
    text-align: left;
}

.item {
    font-family: 'Montserrat-Regular';
}

.ion-text-wrap {
    font-family: 'Montserrat-Regular';
    font-size: 20px;
}

.searchbar {
    --placeholder-font-style: 'Lato-Regular';
}

.loader {
    position: relative;
    float: left;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-patient-available{
    position: relative;
    float: left;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #989a9c;
    font-family: 'NotoSans-Regular';
}

ion-card-title{
    margin: 10px;
    font-family: 'Montserrat-Regular';
}

.consent-form {
    text-align: center;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    font-family: 'NotoSans-Regular';
    font-size: 13px;
    color: #888;
}

ion-checkbox.button-disabled {
    --opacity: 1;
 }