<ion-content>
  <div class="header">
    <div class="header-text">PATIENT LISTS</div>

    <div class="greet-user" *ngIf="clinician">
      Hi {{ clinician.last_name }}, here is the current list of your patients.
    </div>

    <ion-searchbar class="searchbar" [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>
    <ion-item-divider></ion-item-divider>
  </div>

  
<div class="container">

  <div class="no-patient-available" *ngIf="(!loader && empty)">
    NO AVAILABLE PATIENT <br>PLEASE ADD A PATIENT FIRST
  </div>

  <!-- Loader -->
  <div class="loader" *ngIf="loader">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ion-list *ngIf="!loader">
    <ion-item class="item" button *ngFor="let item of (results | async)" [routerLink]="['/', 'members', 'selection', item.id]">
      
      <!-- Female Avatar -->
      <ion-avatar *ngIf="item.gender == 'female'" slot="start">
        <img src='/assets/img/girl.png'>
      </ion-avatar>

      <!-- Male Avatar -->
      <ion-avatar *ngIf="item.gender == 'male'" slot="start">
          <img src='/assets/img/boy.png'>
      </ion-avatar>

      <ion-label class="ion-text-wrap">
          <h3>{{ item.first_name }} {{ item.last_name }}</h3>
          <h3>{{ item.phone_num }}</h3>
      </ion-label>

      <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
  </ion-list>

</div>
</ion-content>