.toolbar {
    --background: linear-gradient(97deg, rgba(56,170,255,1) 19%, rgba(54,129,255,1) 86%);
}

.toolbar-button {
    color: white;
}

.toolbar-title {
    font-family: 'Lato-Regular';
    color: white;
}

.loader {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    color: #989a9c;
    transform: translate(-50%, -50%);
}

.no-record {
    position: relative;
    float: left;
    top: 30%;
    left: 50%;
    color: #989a9c;
    transform: translate(-50%, -50%);
}

#add-vital-sign-btn {
    display: block;
    width: 100%;
    border: none;
    background-color: #20B2FF;
    padding: 15px 28px;
    font-size: 15px;
    text-align: center;
    border-radius: 30px;
    font-size: 15px;
    color: white;
    font-family: 'Lato-Regular';
}

#cancel-vital-sign-btn {
    display: block;
    width: 100%;
    border: none;
    background-color: #ff4f61;
    padding: 15px 28px;
    font-size: 15px;
    text-align: center;
    border-radius: 30px;
    font-size: 15px;
    color: white;
    font-family: 'Lato-Regular';
}

.add-vital-sign-container {
    margin: 10px;
    margin-bottom: 10px;
}

.cancel-vital-sign-container {
    margin: 10px;
    margin-bottom: 15px;
}

.vital-sign-logo {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 130px;
    border: 5px solid #20B2FF;
    border-radius: 100px;
    box-shadow: 0 3px 3px #888;
    background-color: whitesmoke;
}

.vital-sign-logo img {
    padding: 15px;
}

.new-vital-sign-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

ion-card-content {
    font-family: 'Montserrat-Regular';
}

ion-card-title {
    font-family: 'Montserrat-Regular';
}

ion-label {
    font-family: 'Lato-Regular';
}

h3 {
    font-family: 'Lato-Regular';
}

ion-input {
    font-family: 'Lato-Regular';    
}