<ion-header>
  <ion-toolbar class="toolbar">

    <ion-buttons class="toolbar-button" slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-buttons class="toolbar-button" slot="end" *ngIf="isReadOnly">
      <ion-button *ngIf="!loader" (click)="editMedicalHistory()">
          <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title class="toolbar-title">Vital Sign</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
