ion-content {
    --background: linear-gradient(180deg, rgba(56,170,255,1) 19%, rgba(34,34,34,1) 74%);
}

ion-item {
    margin: 20px;
    border-radius: 20px;
}

ion-toolbar {
    --background : #222222;
    color: white;
    font-family: 'Lato-Light';
    text-align: center;
}

.sign-in-loader {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
}

.sign-in-text {
    margin-top: 50px;
}

.alert_radio{
    background-color: black;
}

ion-icon {
    color: #20B2FF;
}

.logo {
    margin-top: 40px;
    width: 150px;
    margin: 0 auto;
    margin-top: 70px;
}

.app-name{
    text-align: center;
    font-family: 'Montserrat-Bold';
    font-size: 30px;
    color: white;
}

.welcome {
    text-align: center;
    margin-bottom: 80px;
    margin-top: 5px;
    font-family: 'Lato-Light';
    color: white;
}

.login-card {
    margin: 20px;
}

#username{
    font-family: 'Lato-Light';
}

.contact {
    margin-bottom: 10px;
}

#login-btn {
    display: block;
    width: 100%;
    border: none;
    background-color: #20B2FF;
    padding: 15px 28px;
    font-size: 15px;
    text-align: center;
    border-radius: 30px;
    font-size: 15px;
    color: white;
    font-family: 'Lato-Light';
}

.forgot-password-container{
    margin-top: -10px;
    color: white;
    text-align: center;
    font-family: 'Lato-Light';
}

.login-btn-container {
    margin: 10px;
}

#login-clinician-btn {
    display: block;
    width: 100%;
    border: none;
    background-color: #20B2FF;
    padding: 15px 28px;
    font-size: 15px;
    text-align: center;
    border-radius: 30px;
    font-size: 15px;
    color: white;
    font-family: 'Lato-Light';
}

#login-clinician-instructor-btn {
    display: block;
    width: 100%;
    border: none;
    background-color: #2be35c;
    padding: 15px 28px;
    font-size: 15px;
    text-align: center;
    border-radius: 30px;
    font-size: 15px;
    color: white;
    font-family: 'Lato-Light';
}

#login-patient-btn {
    display: block;
    width: 100%;
    border: none;
    background-color: white;
    padding: 15px 28px;
    font-size: 15px;
    text-align: center;
    border-radius: 30px;
    font-size: 15px;
    color: black;
    font-family: 'Lato-Light';
}

#selection-btn {
    display: block;
    width: 100%;
    border: none;
    background-color: white;
    padding: 15px 28px;
    font-size: 15px;
    text-align: center;
    border-radius: 30px;
    font-size: 15px;
    color: black;
    font-family: 'Lato-Light';
}