<ion-header>
  <ion-toolbar class="toolbar">

    <ion-buttons class="toolbar-button" slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-buttons class="toolbar-button" slot="end" *ngIf="isReadOnly">
      <ion-button *ngIf="!loader" (click)="editComplaint()">
          <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons class="toolbar-button" slot="end" *ngIf="!isReadOnly">
        <ion-button *ngIf="!loader" (click)="cancelEdit()">
            <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>
    </ion-buttons>

    <ion-buttons class="toolbar-button" slot="end" *ngIf="!isReadOnly">
        <ion-button *ngIf="!loader" (click)="confirmationMessage()">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
    
    <ion-title class="toolbar-title">Complaint</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="!loader">
    <div class="complaint-logo">
      <img src="/assets/add_complaint.jpg">
    </div>
    <ion-card-content>
        Please fill out the following fields appropriately.
    </ion-card-content>
  </ion-card>

  <div class="loader" *ngIf="loader">
    <ion-spinner name="crescent" style="color: black;"></ion-spinner>
  </div>

  <ion-list *ngIf="!loader">
    <ion-item-divider class="label">Chief Complaint:</ion-item-divider>
    <ion-item>
        <ion-textarea rows="3" [(ngModel)]="chiefComplaint" [readonly] = "isReadOnly" placeholder="Enter chief complaint here..."></ion-textarea>
    </ion-item>

    <ion-item-divider class="label">History of Present Illness:</ion-item-divider>
    <ion-item>
      <ion-textarea rows="3" [(ngModel)]="historyOfPresentIllness" [readonly] = "isReadOnly" placeholder="Enter history of present illness here..."></ion-textarea>
    </ion-item>
  </ion-list>

</ion-content>