.toolbar {
    --background: linear-gradient(97deg, rgba(56,170,255,1) 19%, rgba(54,129,255,1) 86%);
}

.toolbar-button {
    color: white;
}

.toolbar-title {
    font-family: 'Lato', sans-serif;
    color: white;
}

.cards {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ion-card-title {
    text-align: center;
    font-family: 'Montserrat-Regular';
    margin: 15px;
}