<ion-header>
  <ion-toolbar class="toolbar">

    <ion-buttons slot="start">
      <ion-menu-button style="color: white;" class="menu-button"></ion-menu-button>
    </ion-buttons>
    
    <ion-title class="toolbar-title">A.I. Dent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    <div class="header-text">
        CLINICAL INSTRUCTORS
    </div>

    <div class="greet-user" *ngIf="clinician">
      Hi {{ clinician.last_name }}, would you like to check something about your instructor?
    </div>

    <ion-searchbar class="searchbar" [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>
    <ion-item-divider></ion-item-divider>
  </div>

  <div class="no-instructor-available" *ngIf="(!loader && empty)">
    NO DATA TO DISPLAY
  </div>

  <div class="loader" *ngIf="loader">
      <ion-spinner name="crescent" style="color: black;"></ion-spinner>
  </div>

  <ion-list>
    <ion-item class="item" button *ngFor="let item of (instructors | async)" [routerLink]="['/', 'members', 'instructor-details', item.id]">

      <ion-avatar slot="start">
          <img src='/assets/register-clinician-instructor.png'>
      </ion-avatar>

      <ion-label class="ion-text-wrap">
          <h3>{{ item.first_name }} {{ item.last_name }}</h3>
      </ion-label>

    </ion-item>
  </ion-list>
  
</ion-content>