@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

.toolbar {
    --background: linear-gradient(97deg, rgba(56,170,255,1) 19%, rgba(54,129,255,1) 86%);
}

.toolbar-title {
    font-family: 'Lato', sans-serif;
    color: white;
}

.header-text {
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: left;
    font-weight: 300;
}