<ion-header>
  <ion-toolbar class='toolbar'>
      <ion-buttons slot="start">
        <ion-back-button style="color: white;" defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title class="toolbar-title">Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <div class="register-clinician">
      <img src="/assets/register-clinician.png">
    </div>

    <div class="header-text">
      CREATE AN ACCOUNT FOR CLINICIAN
    </div>
  </ion-card>

  <div class="fill-out-message">
      Hi, kindly fill out the form below to register as clinical instructor.
  </div>

  <div class="personal-information">
      I. Login Credentials
  </div>

  <!-- Sign up form -->
  <div class="sign-up-container">
    <form [formGroup] = 'register_form'>
        <ion-item>
            <ion-label class="label" position="floating">Student Number</ion-label>
            <ion-input formControlName='student_number' id="student_number" clearInput type="text" required></ion-input>
        </ion-item>
        <div class="error-prompt">
          <ng-container *ngFor="let validation of validation_messages.student_number">
              <div class="error-message" *ngIf="register_form.get('student_number').hasError(validation.type) && (register_form.get('student_number').touched || register_form.controls.student_number.dirty || submit_attempt)">
                  &nbsp;&nbsp;<ion-icon name="alert"></ion-icon>&nbsp;&nbsp; {{ validation.message }}
                </div> 
          </ng-container> 
        </div>

        <ion-item>
            <ion-label class="label" position="floating">Password</ion-label>
            <ion-input formControlName="password" id="password" [type]="passwordType" required></ion-input>
            <ion-icon name="eye" [color]="passwordShown === true ? 'dark' : 'medium'" slot="end" (click)="togglePassword()" ion-align-self-center></ion-icon>
        </ion-item>
        <div class="error-prompt">
            <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message" *ngIf="register_form.get('password').hasError(validation.type) && (register_form.get('password').touched || register_form.controls.password.dirty || submit_attempt)">
                    &nbsp;&nbsp;<ion-icon name="alert"></ion-icon>&nbsp;&nbsp; {{ validation.message }}
                  </div> 
            </ng-container> 
          </div>

        <ion-item>
            <ion-label class="label" position="floating">Confirm password</ion-label>
            <ion-input formControlName="password_again" id="password_again" [type]="passwordType" required></ion-input>
        </ion-item>
        <div class="error-prompt" *ngIf="register_form.hasError('mismatchedPasswords') && (register_form.get('password_again').touched || submit_attempt )">
            &nbsp;&nbsp;<ion-icon name="alert"></ion-icon>&nbsp;&nbsp;Password mismatch
        </div>

        <div class="personal-information">
            II. Personal Information
        </div>

        <ion-item>
            <ion-label class="label" position="floating">Clinic Level</ion-label>
            <ion-select formControlName='clinic_level' cancelText="Cancel">
              <ion-select-option value="Clinic 1A">Clinic 1A</ion-select-option>
              <ion-select-option value="Clinic 1B">Clinic 1B</ion-select-option>
              <ion-select-option value="Clinic 2A">Clinic 2A</ion-select-option>
              <ion-select-option value="Clinic 2B">Clinic 2B</ion-select-option>
              <ion-select-option value="Clinic 3A">Clinic 3A</ion-select-option>
              <ion-select-option value="Clinic 3B">Clinic 3B</ion-select-option>
              <ion-select-option value="Clinic 4A">Clinic 4A</ion-select-option>
              <ion-select-option value="Clinic 4B">Clinic 4B</ion-select-option>
            </ion-select>
          </ion-item>
          <div class="error-prompt" *ngIf="!register_form.controls.clinic_level.valid  && ( register_form.get('clinic_level').touched || register_form.controls.clinic_level.dirty || submit_attempt)">
              &nbsp;&nbsp;<ion-icon name="alert"></ion-icon>&nbsp;&nbsp;Clinic level is required
          </div>

        <ion-item>
          <ion-label class="label" position="floating">First Name</ion-label>
          <ion-input formControlName="first_name" id="first_name" clearInput type="text" required></ion-input>
        </ion-item>
        <ng-container *ngFor="let validation of validation_messages.first_name">
          <div class="error-prompt" *ngIf="register_form.get('first_name').hasError(validation.type) && (register_form.get('first_name').touched || register_form.controls.first_name.dirty || submit_attempt)">
              &nbsp;&nbsp;<ion-icon name="alert"></ion-icon>&nbsp;&nbsp; {{ validation.message }}
          </div>
        </ng-container>

        <ion-item>
            <ion-label class="label" position="floating">Middle Name</ion-label>
            <ion-input formControlName="middle_name" id="middle_name" clearInput type="text" required></ion-input>
        </ion-item>
        <ng-container *ngFor="let validation of validation_messages.middle_name">
            <div class="error-prompt" *ngIf="register_form.get('middle_name').hasError(validation.type) && (register_form.get('middle_name').touched || register_form.controls.middle_name.dirty || submit_attempt)">
                &nbsp;&nbsp;<ion-icon name="alert"></ion-icon>&nbsp;&nbsp; {{ validation.message }}
            </div>
        </ng-container>

        <ion-item>
            <ion-label class="label" position="floating">Last Name</ion-label>
            <ion-input formControlName="last_name" id="last_name" clearInput type="text" required></ion-input>
        </ion-item>
        <ng-container *ngFor="let validation of validation_messages.last_name">
            <div class="error-prompt" *ngIf="register_form.get('last_name').hasError(validation.type) && (register_form.get('last_name').touched || register_form.controls.last_name.dirty || submit_attempt)">
                &nbsp;&nbsp;<ion-icon name="alert"></ion-icon>&nbsp;&nbsp; {{ validation.message }}
            </div>
        </ng-container>

        <div class="terms-conditions">
          <ion-checkbox [checked]='check_check_box' disabled='disabled' style="float: left;"></ion-checkbox> By tapping "Sign Up" you agree to the <a (click)="present_terms_conditions()">terms & conditions</a>
        </div>

        <div class="register-btn-container" (click)="register()">
            <button id="register-clinician-btn">SIGN UP</button>
        </div>
      </form>
  </div>
</ion-content>