<ion-header>
  <ion-toolbar class="toolbar">

    <ion-buttons class="toolbar-button" slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-buttons class="toolbar-button" slot="end" *ngIf="isReadOnly">
      <ion-button *ngIf="!loader" (click)="editMedicalHistory()">
          <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons class="toolbar-button" slot="end" *ngIf="!isReadOnly">
        <ion-button *ngIf="!loader" (click)="cancelEdit()">
            <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
  
    <ion-buttons class="toolbar-button" slot="end" *ngIf="!isReadOnly">
        <ion-button *ngIf="!loader" (click)="confirmationMessage()">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
    
    <ion-title class="toolbar-title">Medical History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="loader" *ngIf="loader">
      <ion-spinner name="crescent" style="color: black;"></ion-spinner>
  </div>

  <div *ngIf="!loader">

    <ion-card>
      <div class="medical-history-logo">
        <img src="/assets/medical_history.png">
      </div>
      <ion-card-content>
          Please fill out the following fields appropriately.
      </ion-card-content>
    </ion-card>

    <ion-list>
        <ion-item style="margin-left: -16px;">
            <ion-label style="padding-left: 16px;">Under a physician's care?</ion-label>
            <ion-checkbox color="light" [(ngModel)]="physicianCare" [disabled] = "isReadOnly"></ion-checkbox>
        </ion-item>

        <ion-item-divider class="label">Hospitalization:</ion-item-divider>
        <ion-item>
            <ion-textarea rows="2" [(ngModel)]="hospitalization" [readonly] = "isReadOnly"  placeholder="Enter hospitalization here..."></ion-textarea>
        </ion-item>

        <ion-item-divider class="label">Allergies:</ion-item-divider>
        <ion-item>
            <ion-textarea rows="2" [(ngModel)]="allergies" [readonly] = "isReadOnly" placeholder="Enter allergies here..."></ion-textarea>
        </ion-item>

        <ion-item-divider class="label">Illnesses:</ion-item-divider>
        <ion-item>
            <ion-textarea rows="2" [(ngModel)]="illnesses" [readonly] = "isReadOnly" placeholder="Enter illnesses here..."></ion-textarea>
        </ion-item>

        <ion-item-divider class="label">List of medications, vitamins or herbal supplements:</ion-item-divider>
        <ion-item>
            <ion-textarea rows="4" [(ngModel)]="medications" [readonly] = "isReadOnly" placeholder="Enter list of medications here..."></ion-textarea>
        </ion-item>
        
        <ion-item-divider class="label">Childhood disease History:</ion-item-divider>
        <ion-item>
          <ion-textarea rows="4" [(ngModel)]="childhoodDiseaseHistory" placeholder="Enter childhood disease history here..." [readonly] = "isReadOnly"></ion-textarea>
        </ion-item>
    </ion-list>

    <hr>
    <p class="last-update" *ngIf="dateTimeAdded">Last update: {{ dateTimeAdded }}</p>
  </div>
</ion-content>