<ion-header>
  <ion-toolbar class="toolbar">

    <ion-buttons class="toolbar-button" slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-buttons class="toolbar-button" slot="end" *ngIf="isReadOnly">
      <ion-button (click)="editMedicalHistory()">
          <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons class="toolbar-button" slot="end" *ngIf="!isReadOnly">
        <ion-button (click)="cancelEdit()">
            <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
  
    <ion-buttons class="toolbar-button" slot="end" *ngIf="!isReadOnly">
        <ion-button (click)="confirmationMessage()">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
    
    <ion-title class="toolbar-title">Medical History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="loader" *ngIf="loader">
      <ion-spinner name="crescent" style="color: black;"></ion-spinner>
  </div>

  <div *ngIf="!loader">
    <ion-list>
        <ion-item>
            <ion-label>Under a physician's care?</ion-label>
            <ion-checkbox color="light" [(ngModel)]="physicianCare" [disabled] = "isReadOnly"></ion-checkbox>
        </ion-item>

        <ion-item>
            <ion-label position="stacking">Hospitalization:</ion-label>
            <ion-textarea rows="2" [(ngModel)]="hospitalization" [readonly] = "isReadOnly"  placeholder="Enter hospitalization here..."></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label position="stacking">Allergies:</ion-label>
            <ion-textarea rows="2" [(ngModel)]="allergies" [readonly] = "isReadOnly" placeholder="Enter allergies here..."></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label position="stacking">Illnesses:</ion-label>
            <ion-textarea rows="2" [(ngModel)]="illnesses" [readonly] = "isReadOnly" placeholder="Enter illnesses here..."></ion-textarea>
        </ion-item>

        <ion-item class="no-border">
            <ion-label position="stacking" class="ion-text-wrap">List of medications, vitamins or herbal supplements:</ion-label>
        </ion-item>
        
        <ion-item>
            <ion-textarea rows="4" [(ngModel)]="medications" [readonly] = "isReadOnly" placeholder="Enter list of medications here..."></ion-textarea>
        </ion-item>

        <ion-item class="no-border">
            <ion-label position="stacking" >Childhood disease History:</ion-label>
        </ion-item>
        
        <ion-item>
          <ion-textarea rows="4" [(ngModel)]="childhoodDiseaseHistory" placeholder="Enter childhood disease history here..." [readonly] = "isReadOnly"></ion-textarea>
        </ion-item>

    </ion-list>
  </div>
</ion-content>