<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button class="menu-button"></ion-menu-button>
    </ion-buttons>
    <ion-title class="toolbar-title">A.I. Dent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="bottom" class="tabs">
      <ion-tab-button tab="my-patients">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>Patient Lists</ion-label>
      </ion-tab-button>
    
      <ion-tab-button tab="add-patients">
        <ion-icon name="person-add"></ion-icon>
        <ion-label>Add New Patient</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tab3">
        <ion-icon name="clipboard"></ion-icon>
        <ion-label>CDAR</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
</ion-content>