<!-- <ion-header>
  <ion-toolbar>
    <ion-title>patient-track-records</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="header">
    <div class="header-text">YOUR RECORD</div>

    <ion-item-divider></ion-item-divider>
  </div>

  <div class="loader" *ngIf="loader">
      <ion-spinner name="crescent" style="color: black;"></ion-spinner>
  </div>

  <div *ngIf="!loader">
    <ion-card class="selections" (click)="goToPatientInformation()">
      <img src="assets/personal_information.png">
      <ion-card-title>PERSONAL INFORMATION</ion-card-title>
    </ion-card>

    <ion-card class="selections" (click)="goToComplaint()">
      <img src="/assets/add_complaint.jpg">
      <ion-card-title>COMPLAINT</ion-card-title>
    </ion-card>

    <ion-card class="selections" (click)="goToVitalSign()">
      <img src="/assets/vital_sign.png">
      <ion-card-title>VITAL SIGN</ion-card-title>
    </ion-card>

    <ion-card class="selections" (click)="goToMedicalHistory()">
      <img src="/assets/medical_history.png">
      <ion-card-title>MEDICAL HISTORY</ion-card-title>
    </ion-card>

    <ion-card class="selections" (click)="goToMedicalHealthQuestionnaire()">
      <img src="/assets/medical_history_questionnaire.jpg">
      <ion-card-title>MEDICAL HEALTH QUESTIONNAIRE</ion-card-title>
    </ion-card>

    <ion-card class="selections" (click)="goToAllergies()">
      <img src="/assets/allergies.png">
      <ion-card-title>ALLERGIES</ion-card-title>
    </ion-card>

    <ion-card class="selections" *ngIf="isFemale" (click)="goToFemale()">
      <img src="/assets/female.png">
      <ion-card-title>FEMALE</ion-card-title>
    </ion-card>

    <ion-card class="selections" (click)="goToDentalChart()">
      <img src="/assets/dental_chart.png">
      <ion-card-title>DENTAL CHART</ion-card-title>
    </ion-card>

    <ion-card class="selections" (click)="goToOralAssessment()">
      <img src="/assets/oral_assessment.png">
      <ion-card-title>ORAL ASSESSMENT</ion-card-title>
    </ion-card>

    <ion-card class="selections" (click)="goToSocialHistory()">
      <img src="/assets/social_history.png">
      <ion-card-title>SOCIAL HISTORY</ion-card-title>
    </ion-card>

    <ion-card class="selections" (click)="goToDentalHistory()">
      <img src="/assets/dental_history.png">
      <ion-card-title>DENTAL HISTORY</ion-card-title>
    </ion-card>

    <ion-card class="selections" (click)="goToOcclusion()">
      <img src="/assets/occlusion.png">
      <ion-card-title>OCCLUSION</ion-card-title>
    </ion-card>

    <ion-card class="selections" (click)="goToGingiva()">
      <img src="/assets/gingiva.png">
      <ion-card-title>GINGIVA</ion-card-title>
    </ion-card>

    <ion-card class="selections" (click)="goToTreatmentRecord()">
      <img src="/assets/treatment_record.png">
      <ion-card-title>TREATMENT RECORD</ion-card-title>
    </ion-card>
  </div>

</ion-content>