<!-- <ion-header>
  <ion-toolbar>
    <ion-title>patient-track-records</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="header">
    <div class="header-text">PERSONAL RECORD</div>

    <ion-item-divider></ion-item-divider>
  </div>

  <div class="loader" *ngIf="loader">
      <ion-spinner name="crescent" style="color: black;"></ion-spinner>
  </div>

  <ion-grid *ngIf="!loader">
    <ion-row>
      <ion-col>
        <ion-card class="selections" (click)="goToPatientInformation()">
          <img src="assets/personal_information.png">
          <ion-card-title>Personal Information</ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="selections" (click)="goToComplaint()">
          <img src="/assets/add_complaint.jpg">
          <ion-card-title>Complaint</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="selections" (click)="goToVitalSign()">
          <img src="/assets/vital_sign.png">
          <ion-card-title>Vital Sign</ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="selections" (click)="goToMedicalHistory()">
          <img src="/assets/medical_history.png">
          <ion-card-title>Medical History</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="selections" (click)="goToMedicalHealthQuestionnaire()">
          <img src="/assets/medical_history_questionnaire.jpg">
          <ion-card-title>Medical Health</ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="selections" (click)="goToAllergies()">
          <img src="/assets/allergies.png">
          <ion-card-title>Allergies</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="isFemale">
      <ion-col>
        <ion-card class="selections" (click)="goToFemale()">
          <img src="/assets/female.png">
          <ion-card-title>Female</ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="selections" (click)="goToDentalChart()">
          <img src="/assets/dental_chart.png">
          <ion-card-title>Dental Chart</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!isFemale" >
      <ion-col>
        <ion-card class="selections" (click)="notFemale()">
          <img src="/assets/female.png">
          <ion-card-title>Female</ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="selections" (click)="goToDentalChart()">
          <img src="/assets/dental_chart.png">
          <ion-card-title>Dental Chart</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="selections" (click)="goToOralAssessment()">
          <img src="/assets/oral_assessment.png">
          <ion-card-title>Oral Assessment</ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="selections" (click)="goToSocialHistory()">
          <img src="/assets/social_history.png">
          <ion-card-title>Social History</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="selections" (click)="goToDentalHistory()">
          <img src="/assets/dental_history.png">
          <ion-card-title>Dental History</ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="selections" (click)="goToOcclusion()">
          <img src="/assets/occlusion.png">
          <ion-card-title>Occlusion</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="selections" (click)="goToGingiva()">
          <img src="/assets/gingiva.png">
          <ion-card-title>Gingiva</ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="selections" (click)="goToTreatmentRecord()">
          <img src="/assets/treatment_record.png">
          <ion-card-title>Treatment Record</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>