<ion-header>
    <ion-toolbar class="toolbar">
  
      <ion-buttons class="toolbar-button" slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      
      <ion-title class="toolbar-title">Occlusion</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-card *ngIf="!loader">
    <div class="occlusion-logo">
        <img src="/assets/occlusion.png">
    </div>
    <ion-card-content>
        These are the recent details to your occlusion.
    </ion-card-content>
  </ion-card>

  <div class="loader" *ngIf="loader">
    <ion-spinner name="crescent" style="color: black;"></ion-spinner>
  </div>

  <ion-list *ngIf="(!loader && !occlusion)">

    <ion-item-divider class="label">Occlusion</ion-item-divider>
    <ion-item>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>

    <ion-item-divider class="label">Other Occlusal Abnormalities</ion-item-divider>
    <ion-item>
      <ion-textarea placeholder="No data to show." readonly></ion-textarea>
    </ion-item>

    <ion-item-divider class="label">Parafunctional Oral Habits</ion-item-divider>
    <ion-item>
      <ion-textarea placeholder="No data to show." readonly></ion-textarea>
    </ion-item>

    <ion-item-divider class="label">Plaque</ion-item-divider>
    <ion-item>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>

    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label>Generalized:</ion-label>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Localized:</ion-label>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>

    <ion-item-divider class="label">Enamel</ion-item-divider>
    <ion-item>
      <ion-label>
        <h3>No data to show.</h3>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-list *ngIf="(!loader && occlusion)">
    <ion-item-divider class="label">Occlusion</ion-item-divider>
    <ion-item>
      <ion-input value="{{ occlusion.occlusion_class }}" readonly></ion-input>
    </ion-item>

    <ion-item-divider class="label">Other Occlusal Abnormalities</ion-item-divider>
    <ion-item>
      <ion-textarea value="{{ occlusion.other_occlusal }}" readonly></ion-textarea>
    </ion-item>

    <ion-item-divider class="label">Parafunctional Oral Habits</ion-item-divider>
    <ion-item>
      <ion-textarea value="{{ occlusion.oral_habits }}" placeholder="Enter here..." readonly></ion-textarea>
    </ion-item>

    <ion-item-divider class="label">Plaque</ion-item-divider>
    <ion-item>
      <ion-input value="{{ occlusion.plaque }}" readonly></ion-input>
    </ion-item>

    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label>Generalized:</ion-label>
      <ion-icon name="checkmark-circle-outline" slot="start" *ngIf="occlusion.generalized === true"></ion-icon>
      <ion-icon name="close" slot="start" *ngIf="occlusion.generalized === false"></ion-icon>
      <ion-input value="{{ occlusion.generalized_desc }}" placeholder="Description" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Localized:</ion-label>
      <ion-icon name="checkmark-circle-outline" slot="start" *ngIf="occlusion.localized === true"></ion-icon>
      <ion-icon name="close" slot="start" *ngIf="occlusion.localized === false"></ion-icon>
      <ion-input value="{{ occlusion.localized_desc }}" placeholder="Description" readonly></ion-input>
    </ion-item>

    <ion-item-divider class="label">Enamel</ion-item-divider>
    <ion-item>
      <ion-label>
        <h3 *ngIf="occlusion.erosion === true">Erosion</h3>
        <h3 *ngIf="occlusion.demineralization === true">Demineralization</h3>
        <h3 *ngIf="occlusion.attrtion === true">Attrition</h3>
        <h3 *ngIf="occlusion.abfraction === true">Abfraction</h3>
        <h3 *ngIf="occlusion.fluorosis === true">Fluorosis</h3>
        <h3 *ngIf="occlusion.abrasion === true">Abrasion</h3>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>