@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

.toolbar {
    --background: linear-gradient(97deg, rgba(56,170,255,1) 19%, rgba(54,129,255,1) 86%);
}

.toolbar-title {
    font-family: 'Lato', sans-serif;
    color: white;
}

.header-text {
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: left;
    font-weight: 300;
}

.instructor-avatar {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 120px;
    border: 5px solid #20B2FF;
    border-radius: 100px;
    box-shadow: 0 3px 3px #888;
    background-color: whitesmoke;
}

.instructor-avatar img {
    padding: 15px;
}

.greet-user {
    margin: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-align: left;
}

.loader {
    position: relative;
    float: left;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}