.toolbar {
    --background: linear-gradient(97deg, rgba(56,170,255,1) 19%, rgba(54,129,255,1) 86%);
}

.toolbar-button {
    color: white;
}

.toolbar-title {
    font-family: 'Lato-Regular';
    color: white;
}

.loader {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.treatment-record-logo {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 130px;
    border: 5px solid #20B2FF;
    border-radius: 100px;
    box-shadow: 0 3px 3px #888;
    background-color: whitesmoke;
}

.treatment-record-logo img {
    padding: 15px;
}

#add-treatment-record-btn {
    display: block;
    width: 100%;
    border: none;
    background-color: #20B2FF;
    padding: 15px 28px;
    font-size: 15px;
    text-align: center;
    border-radius: 30px;
    font-size: 15px;
    color: white;
    font-family: 'Lato-Regular';
}

#cancel-treatment-record-btn {
    display: block;
    width: 100%;
    border: none;
    background-color: #ff4f61;
    padding: 15px 28px;
    font-size: 15px;
    text-align: center;
    border-radius: 30px;
    font-size: 15px;
    color: white;
    font-family: 'Lato-Regular';
}

.add-treatment-record-container {
    margin: 10px;
    margin-bottom: 10px;
}

.cancel-treatment-record-container {
    margin: 10px;
    margin-bottom: 15px;
}

ion-card-content {
    font-family: 'Montserrat-Regular';
    text-align: justify;
}

ion-card-title {
    margin: 10px;
    font-family: 'Montserrat-Regular';
}

.header {
    font-family: 'Montserrat-Regular';
    font-size: 15px;
    color: white;
    background-color: #20B2FF;
    padding: 13px;
}

.label {
    padding: 13px;
    background-color: whitesmoke;
    color: black;
    font-family: 'Lato-Bold';  
}