@import url('https://fonts.googleapis.com/css?family=Montserrat:400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

.toolbar {
    --background: linear-gradient(97deg, rgba(56,170,255,1) 19%, rgba(54,129,255,1) 86%);
}

.toolbar-button {
    color: white;
}

.toolbar-title {
    font-family: 'Lato', sans-serif;
    color: white;
}

.loader {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

ion-checkbox.checkbox-disabled {
    opacity: 1;
}