.header-text {
    margin: 20px;
    font-family: 'Montserrat-Regular';
    font-size: 30px;
    text-align: left;
    font-weight: 300;
}

.greet-user {
    margin: 20px;
    font-family: 'Lato-Regular';
    font-size: 15px;
    text-align: left;
}

.date-today {
    margin: 20px;
    font-family: 'Montserrat-Regular';
    font-size: 20px;
    text-align: left;
}

.item {
    font-family: 'Lato-Regular';
}

.ion-text-wrap {
    font-family: 'Montserrat-Regular';
    font-size: 20px;
}

.searchbar {
    --placeholder-font-style: 'Lato-Regular';
}

.loader {
    position: relative;
    float: left;
    margin-top: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-record {
    position: relative;
    float: left;
    margin-top: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #989a9c;
    font-family: "NotoSans-Regular";
}