.toolbar {
    --background: linear-gradient(97deg, rgba(56,170,255,1) 19%, rgba(54,129,255,1) 86%);
}

.toolbar-button {
    color: white;
}

.toolbar-title {
    font-family: 'Lato-Regular';
    color: white;
}

.loader {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.female-logo {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 130px;
    border: 5px solid #20B2FF;
    border-radius: 100px;
    box-shadow: 0 3px 3px #888;
    background-color: whitesmoke;
}

.female-logo img {
    padding: 15px;
}

ion-card-content {
    font-family: 'Montserrat-Regular';
}

ion-label {
    font-family: 'Lato-Regular';
}