<ion-header>
  <ion-toolbar class="toolbar">

      <ion-buttons class="toolbar-button" slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>

    <ion-title class="toolbar-title">Social History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!loader">
    <div class="social-history-logo">
        <img src="/assets/social_history.png">
    </div>
    <ion-card-content>
      Checkmark indicate that you are using/taking or have used/taken any of the following.
    </ion-card-content>
  </ion-card>

  <div class="loader" *ngIf="loader">
    <ion-spinner name="crescent" style="color: black;"></ion-spinner>
  </div>

  <ion-list *ngIf="(!loader && !socialHistory)">
    <ion-item-divider class="label">Tobacco</ion-item-divider>
    <ion-item style="margin-left: -16px;">
      <ion-label style="padding-left: 16px;">Are you using tobacco?</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">What kind?</ion-label>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">How often?</ion-label>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">How many years?</ion-label>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Have stopped. How long?</ion-label>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>

    <ion-item-divider class="label">Cigarettes</ion-item-divider>
    <ion-item style="margin-left: -16px;">
      <ion-label style="padding-left: 16px;">Are you using cigarretes?</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">What kind?</ion-label>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">How often?</ion-label>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">How many years?</ion-label>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Have stopped. How long?</ion-label>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>

    <ion-item-divider class="label">Electronic Cigarette (Vaping)</ion-item-divider>
    <ion-item style="margin-left: -16px;">
      <ion-label style="padding-left: 16px;">Are you using vape?</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">What kind?</ion-label>
      <ion-input vplaceholder="No data to show." readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">How often?</ion-label>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">How many years?</ion-label>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Have stopped. How long?</ion-label>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>

    <ion-item-divider class="label">Drugs for recreation</ion-item-divider>
    <ion-item style="margin-left: -16px;">
      <ion-label style="padding-left: 16px;">Are you using drugs for recreation?</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">What kind?</ion-label>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">How often?</ion-label>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">How many years?</ion-label>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Have stopped. How long?</ion-label>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>

    <ion-item-divider class="label">Drugs for therapeutic</ion-item-divider>
    <ion-item style="margin-left: -16px;">
      <ion-label style="padding-left: 16px;">Are you using drugs for therapeutic?</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">What kind?</ion-label>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">How often?</ion-label>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">How many years?</ion-label>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Have stopped. How long?</ion-label>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>

    <ion-item-divider class="label">Alcoholic Beverages</ion-item-divider>
    <ion-item style="margin-left: -16px;">
      <ion-label style="padding-left: 16px;">Do you drink alcholic beverages?</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">What kind?</ion-label>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">How often?</ion-label>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">How many years?</ion-label>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Have stopped. How long?</ion-label>
      <ion-input placeholder="No data to show." readonly></ion-input>
    </ion-item>

  </ion-list>

  <ion-list *ngIf="(!loader && socialHistory)">
    <ion-item-divider class="label">Tobacco</ion-item-divider>
    <ion-item style="margin-left: -16px;">
      <ion-label style="padding-left: 16px;">Are you using tobacco?</ion-label>
      <ion-icon name="checkmark-circle-outline" slot="end" *ngIf="socialHistory.using_tobacco === true"></ion-icon>
      <ion-icon name="close" slot="end" *ngIf="socialHistory.using_tobacco === false"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label position="floating">What kind?</ion-label>
      <ion-input value="{{ socialHistory.kind_tobacco }}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">How often?</ion-label>
      <ion-input value="{{ socialHistory.often_tobacco }}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">How many years?</ion-label>
      <ion-input value="{{ socialHistory.years_tobacco }}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Have stopped. How long?</ion-label>
      <ion-input value="{{ socialHistory.stop_tobacco }}" readonly></ion-input>
    </ion-item>

    <ion-item-divider class="label">Cigarettes</ion-item-divider>
    <ion-item style="margin-left: -16px;">
      <ion-label style="padding-left: 16px;">Are you using cigarretes?</ion-label>
      <ion-icon name="checkmark-circle-outline" slot="end" *ngIf="socialHistory.using_cigarettes === true"></ion-icon>
      <ion-icon name="close" slot="end" *ngIf="socialHistory.using_cigarettes === false"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="floating">What kind?</ion-label>
      <ion-input value="{{ socialHistory.kind_cigarettes }}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">How often?</ion-label>
      <ion-input value="{{ socialHistory.often_cigarettes }}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">How many years?</ion-label>
      <ion-input value="{{ socialHistory.years_cigarettes }}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Have stopped. How long?</ion-label>
      <ion-input value="{{ socialHistory.stop_cigarettes }}" readonly></ion-input>
    </ion-item>

    <ion-item-divider class="label">Electronic Cigarette (Vaping)</ion-item-divider>
    <ion-item style="margin-left: -16px;">
      <ion-label style="padding-left: 16px;">Are you using vape?</ion-label>
      <ion-icon name="checkmark-circle-outline" slot="end" *ngIf="socialHistory.using_vape === true"></ion-icon>
      <ion-icon name="close" slot="end" *ngIf="socialHistory.using_vape === false"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="floating">What kind?</ion-label>
      <ion-input value="{{ socialHistory.kind_vape }}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">How often?</ion-label>
      <ion-input value="{{ socialHistory.often_vape }}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">How many years?</ion-label>
      <ion-input value="{{ socialHistory.years_vape }}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Have stopped. How long?</ion-label>
      <ion-input value="{{ socialHistory.stop_vape }}" readonly></ion-input>
    </ion-item>

    <ion-item-divider class="label">Drugs for recreation</ion-item-divider>
    <ion-item style="margin-left: -16px;">
      <ion-label style="padding-left: 16px;">Are you using drugs for recreation?</ion-label>
      <ion-icon name="checkmark-circle-outline" slot="end" *ngIf="socialHistory.using_recreation === true"></ion-icon>
      <ion-icon name="close" slot="end" *ngIf="socialHistory.using_recreation === false"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="floating">What kind?</ion-label>
      <ion-input value="{{ socialHistory.kind_recreation }}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">How often?</ion-label>
      <ion-input value="{{ socialHistory.often_recreation }}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">How many years?</ion-label>
      <ion-input value="{{ socialHistory.years_recreation }}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Have stopped. How long?</ion-label>
      <ion-input value="{{ socialHistory.stop_recreation }}" readonly></ion-input>
    </ion-item>

    <ion-item-divider class="label">Drugs for therapeutic</ion-item-divider>
    <ion-item style="margin-left: -16px;">
      <ion-label style="padding-left: 16px;">Are you using drugs for therapeutic?</ion-label>
      <ion-icon name="checkmark-circle-outline" slot="end" *ngIf="socialHistory.using_therapeutic === true"></ion-icon>
      <ion-icon name="close" slot="end" *ngIf="socialHistory.using_therapeutic === false"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="floating">What kind?</ion-label>
      <ion-input value="{{ socialHistory.kind_therapeutic }}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">How often?</ion-label>
      <ion-input value="{{ socialHistory.often_therapeutic }}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">How many years?</ion-label>
      <ion-input value="{{ socialHistory.years_therapeutic }}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Have stopped. How long?</ion-label>
      <ion-input value="{{ socialHistory.stop_therapeutic }}" readonly></ion-input>
    </ion-item>

    <ion-item-divider class="label">Alcoholic Beverages</ion-item-divider>
    <ion-item style="margin-left: -16px;">
      <ion-label style="padding-left: 16px;">Do you drink alcholic beverages?</ion-label>
      <ion-icon name="checkmark-circle-outline" slot="end" *ngIf="socialHistory.drink_alcoholic === true"></ion-icon>
      <ion-icon name="close" slot="end" *ngIf="socialHistory.drink_alcoholic === false"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="floating">What kind?</ion-label>
      <ion-input value="{{ socialHistory.kind_alcoholic }}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">How often?</ion-label>
      <ion-input value="{{ socialHistory.often_alcoholic }}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">How many years?</ion-label>
      <ion-input value="{{ socialHistory.years_alcoholic }}" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Have stopped. How long?</ion-label>
      <ion-input value="{{ socialHistory.stop_alcoholic }}" readonly></ion-input>
    </ion-item>

    <hr>
    <p class="last-update">Last update: {{ socialHistory.datetime_added }}</p>
  </ion-list>
</ion-content>